* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #dad7cd;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #344e41;
    color: white;
}

.brand {
    font-size: 24px;
    margin: 11px; /*Cannot work out where 4px are coming from, hence 11px instead of 13px*/
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    color: white;
}

.navbar li a:hover {
    background-color: #dad7cd;
    color: #344e41;
}

.navbar li a.current {
    background-color: white;
    color: #344e41;
}

.toggle-button {
    position: absolute;
    top: 12.5px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 25px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .toggle-button {
        display: flex;
    }
    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul {
        flex-direction: column;
        width: 100%;
        background-color: #344e41;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        line-height: 30px;
    }
    .links.active {
        display: flex;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    background-color: #a3b18a;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.20), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
}

#inputField {
    width: 180px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

#addToDo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    float: right;
}

.toDos {
    margin-top: 20px;
}

.paragraph-styling {
    margin: 5px 0;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    background-color: #344e41;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
}

footer li a:hover {
    text-decoration: underline;
}